nav{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-around;overflow: hidden;
    overflow-x: hidden;
    background-color: rgb(7, 61, 61);
    transition: 2s;
}
.logo{
    font-size: 40px;
    letter-spacing: 0.5em;
    font-weight: bolder;
    color: #00ffff;
}
.links{ 
    display: flex;
    width: 30%;
    list-style: none;
    justify-content: space-between;
    transition: 0.8s;
}
.link a{
    text-transform: uppercase;
    font-size: 20px;
    color: #1bd3d3;
}
.lines{
    display: none;

}
@media screen and (max-width: 1200px) {
    .links {
        width: 40%;
    }
}

@media screen and (max-width: 850px) {
    html, body{
        overflow-x: hidden;
    }
    nav{
        height: 50px;
    }
    .logo{
        font-size: 1.5em;
    }

    .links {
        position: absolute;
        overflow: hidden;
        right: 0px;
        height: 90%;
        top: 50px;
        background-color: rgb(7, 61, 61);
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        width: 50%;
        transform: translateX(100%);
        transition: 0.8s;
    }
    .link{
        transition: 1s;
        opacity: 0;
    }
   
    .lines{
        display: block;
        height: 8vh;
        width: 8vh;
        cursor: pointer;
    }
    .line1, .line2, .line3{
        background-color: rgb(230, 228, 228);
        width: 7vh;
        height: .4vh;
        margin: 1.6vh;
        transition: 0.3s ease;
    }

}
.active{
    transition: 0.8s;
    display: flex;
    transform: translatex(0%);
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(70px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transition: 0.6s;
    transform: rotate(-45deg) translate(-10px, 10px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3{
    transition: 0.6s;
    transform: rotate(45deg) translate(-10px, -10px)
}