* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background: #0fadad;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    height: 8vh;
    justify-content: space-around;overflow: hidden;
    overflow-x: hidden;
    background-color: rgb(7, 61, 61);
    transition: 2s;
}
.logo{
    font-size: 5vh;
    letter-spacing: 0.5em;
    font-weight: bolder;
    color: #00ffff;
}
.links{ 
    display: flex;
    width: 30%;
    list-style: none;
    justify-content: space-between;
}
.link a{
    text-transform: uppercase;
    font-size: 3vh;
    color: #1bd3d3;
}
.lines{
    display: none;
}
@media screen and (max-width: 1200px) {
    .links {
        width: 40%;
    }
}

@media screen and (max-width: 850px) {
    #wraper{
        position: absolute;
        width: 100%;
        position: fixed;
    }
    .logo{
        font-size: 4.5vh;
    }

    .links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(7, 61, 61);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .link{
        transition: 1s;
        opacity: 0;
    }
   
    .lines{
        display: block;
        height: 8vh;
        width: 8vh;
        cursor: pointer;
    }
    .line1, .line2, .line3{
        background-color: rgb(230, 228, 228);
        width: 7vh;
        height: .4vh;
        margin: 1.6vh;
        transition: 1s;
    }

}
.active{
    transform: translatex(0%);
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(70px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transition: 1s;
    transform: rotate(-45deg) translate(-10px, 10px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3{
    transition: 1s;
    transform: rotate(45deg) translate(-10px, -10px)
}